.skills {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;

  @media screen and (min-width: 768px) {
    width: 90%;
    place-items: start;
  }

  @media screen and (min-width: 1200px) {
    width: 80%;
  }
}
