*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'PoppinsBold';
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'PoppinsLight';
  src: url(../fonts/Poppins-Bold.ttf);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: PoppinsLight, Helvetica, sans-serif;
  background-color: #f6f6f663;
  font-size: 1.6rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  padding: 0 15px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fast {
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
